[access]
	inheritFrom = OSS/ENM-Parent
[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
[submit]
	action = fast forward only
	mergeContent = false
[plugin "eiffel"]
	enabled = true
	rmq-domain = eiffel004.camo.gerrit
	rmq-exchange = mb401-eiffel004
	rmq-server = amqp://mb401-eiffel004.mo.ca.am.ericsson.se:5672
